body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #691c32;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

.container {
    margin-top: 20px;
}

.table-responsive {
    overflow-x: auto;
}

.table {
    table-layout: auto;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
}

.table th, .table td {
    padding: 0.5rem;
    font-size: 0.9rem;
    word-wrap: break-word;
    white-space: normal;
    text-align: center;
}

.table th {
    background-color: #f4f4f4;
}

.table td {
    text-align: center;
}

.table td.descripcion, .table td.actualizaciones {
    max-width: 200px;
}

.btn {
    background-color: #bc955c;
    color: white;
    border: none;
}

.btn:hover {
    background-color: #9e7c53;
}

.modal-header, .modal-footer {
    background-color: #691c32;
    color: white;
}

.modal-content {
    border-radius: 10px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #6f7271;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.high-risk-marker {
    animation: blink 1s infinite;
    background-color: red !important;
    border: 2px solid white;
    border-radius: 50%;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.welcome-message {
    background-color: #BC955C;
    color: white;
}

.parpadeo-verde {
    color: green;
    animation: blink-green 2s infinite;
}

@keyframes blink-green {
    50% {
        opacity: 0;
    }
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #691c32;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

.text-center {
    text-align: center;
}
